---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfPokemon from '../components/ListOfPokemon.astro';
import TopBar from '../components/TopBar.astro';
import { translate } from '../utils/translate';
---
<Layout title="Visamadex" language="es">
	<main class="m-auto max-w-7xl flex flex-col min-h-screen">
		<TopBar />
		<Title />
		<ListOfPokemon />
		<footer class="p-4 text-gray-600">
			<p>{translate('footer', 'es')}</p>
		</footer>
	</main>
</Layout>
