---
import Layout from "../layouts/Layout.astro";
import Pokemondle from "../components/Pokemondle";
import TopBar from "../components/TopBar.astro";
import { translate } from "../utils/translate";
---
<Layout title="Visamadex · Pokedle" language="es">
	<div class="flex flex-col min-h-screen">
		<TopBar />
		<header class="p-2 mb-4">
			<h1 class="font-black text-3xl md:text-6xl md:text-center text-white mb-2">Pokedle</h1>
			<h2 class="font-medium text-md md:text-xl md:text-center text-gray-500">{translate('pokedleDescription', 'es')}</h2>
		</header>
		<Pokemondle language='es' client:load />
		<footer class="p-4 text-gray-600">
			<p>{translate('footer', 'es')}</p>
		</footer>
	</div>
</Layout>
