---
import Layout from "../layouts/Layout.astro";
import Pokemondle from "../components/Pokemondle";
---
<Layout title="Visamadex · Pokedle" language="en">
	<header class="p-2">
		<h1 class="text-white text-4xl text-center">Pokedle</h1>
	</header>
	<Pokemondle client:load />
</Layout>
