---
import Layout from "../layouts/Layout.astro";
import Pokemondle from "../components/Pokemondle";
const dex = await fetch('https://pokeapi.co/api/v2/pokedex/1/')
			.then(response => response.json())
			.then(data => data.pokemon_entries)
---
<Layout title="Visamadex · Pokedle">
	<div class="flex flex-col min-h-screen">
		<Pokemondle dex={dex} daily={true} client:load />
	</div>
</Layout>
