---
import Layout from "../layouts/Layout.astro";
import Pokedle from "../components/Pokedle";
---
<Layout title="Visamadex · Pokedle">
	<header class="p-2">
		<h1 class="text-white text-4xl text-center">Pokedle</h1>
	</header>
	<Pokedle client:load />
</Layout>
