---
import Layout from "../layouts/Layout.astro"

const { pokemon } = Astro.params

const pokeData = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemon}`).then(response => response.json()).catch(err => console.error("Pokémon not found. Cause: Name incorrect."))

if (!pokeData) return Astro.redirect("/404")

console.log(pokeData.types)
---

<Layout title="Gola">
    <header>
        <h1 class="font-black text-6xl">Hola</h1>
    </header>

    <section>
        <picture>
            <img src={`https://play.pokemonshowdown.com/sprites/ani/${pokemon}.gif`} alt="{info.id}" class="object-cover">
        </picture>
    </section>
</Layout>
