---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfPokemon from '../components/ListOfPokemon.astro';
---

<Layout title="Pokédex">
	<main class="m-auto max-w-4xl">
		<Title />
		<ListOfPokemon />
	</main>
</Layout>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	:root {
		--normal: #A8A77A;
		--fire: #EE8130;
		--water: #6390F0;
		--electric: #F7D02C;
		--grass: #7AC74C;
		--ice: #96D9D6;
		--fighting: #C22E28;
		--poison: #A33EA1;
		--ground: #E2BF65;
		--flying: #A98FF3;
		--psychic: #F95587;
		--bug: #A6B91A;
		--rock: #B6A136;
		--ghost: #735797;
		--dragon: #6F35FC;
		--dark: #705746;
		--steel: #B7B7CE;
		--fairy: #D685AD;
		--light-normal: #737373;
		--light-fire: #D52100;
		--light-water: #0080FF;
		--light-electric: #C90;
		--light-grass: #5CB737;
		--light-ice: #0AF;
		--light-fighting: #A84D3D;
		--light-poison: #88447A;
		--light-ground: #BF9926;
		--light-flying: #556DFF;
		--light-psychic: #FF227A;
		--light-bug: #83901A;
		--light-rock: #A59249;
		--light-ghost: #5454B3;
		--light-dragon: #4E38E9;
		--light-dark: #573E31;
		--light-steel: #8E8EA4;
		--light-fairy: #E76DE7;
	}

	* {
		font-family: 'Poppins', sans-serif;
	}

	.pokemon {
		font-family: 'Poppins', sans-serif;
	}
</style>