---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfPokemon from '../components/ListOfPokemon.astro';
---

<Layout title="Pokédex">
	<main class="m-auto max-w-4xl">
		<Title />

		
		<ListOfPokemon />
	</main>
</Layout>