---
const { move } = Astro.props

---
<div class="flex gap-x-2 items-center">
  <span class="w-8"></span>
  <span class="w-40"></span>
  <span class="w-[60px]"><span class="pill fire">Fire</span></span>
  <span class="w-10"><img src="https://img.pokemondb.net/images/icons/move-status.png" alt="status move"></span>
  <span></span>
  <span></span>
</div>