---
const { moves, caption } = Astro.props

for (let move of moves) {
  for (let details of move.version_group_details) {
    if (details.version_group.name == "scarlet-violet" && details.move_learn_method.name == 'level-up') {
      console.log(move)
    }
  }
}

let shownMoves = []

---
<section class="flex flex-col flex-1">
  <h3 class="text-2xl mb-2 font-semibold text-white/80">{caption}</h3>
  <div class="flex flex-col gap-2">
    <div class="flex gap-x-2">
      <span class="font-bold w-8">Lv.</span>
      <span class="font-bold w-40">Move</span>
      <span class="font-bold w-[60px]">Type</span>
      <span class="font-bold">Cat.</span>
      <span class="font-bold">Power</span>
      <span class="font-bold">Acc.</span>
    </div>
    {
      moves.map(move => (
        move.version_group_details.map(details => {
          if (details.version_group.name == 'scarlet-violet' && details.move_learn_method.name == 'level-up')
          return (
            <div class="flex gap-x-2 items-center">
              <span class="w-8">{details.level_learned_at}</span>
              <span class="w-40">{move.move.name}</span>
              <span class="w-[60px]"><span class="pill fire">Fire</span></span>
              <span class="w-10"><img src="https://img.pokemondb.net/images/icons/move-status.png" alt="status move"></span>
            </div>
          )
        })
      ))
    }
  </div>
</section>