---
const { evolutionChainUrl } = Astro.props

const evolutionChain = await fetch(evolutionChainUrl).then(response => response.json()).catch(err => console.error('Pokemon does not have evolution chain', err))
---
<section >
  <h2 class="text-4xl mb-2 font-black">Evolution chart</h2>
  <div>
  </div>
</section>