---
import { translate } from '../utils/translate.js';
import { ChevronDown } from '@lucide/astro'
---
<nav class="flex align-center">
    <a href="/" class="inline-block p-4 text-white duration-500 ease-in-out hover:bg-slate-400">{translate('home', 'en')}</a>
    <a href="/pokedle" class="inline-block p-4 text-white duration-500 ease-in-out hover:bg-slate-400">{translate('pokedle', 'en')}</a>
</nav>
