---
import PokemonItem from "./PokemonItem.astro";
import { capitalize } from "../utils/capitalize"

const pokedex = await fetch(`https://pokeapi.co/api/v2/pokemon/`).then(response => response.json())
---

<section class="grid grid-cols-2 px-4 md:grid-cols-3 lg:grid-cols-5 gap-3" style="grid-auto-rows: 1fr">
  {
    pokedex.results.map(({ name }) => {
      return (
        <PokemonItem id={name} title={capitalize(name)} img={`https://play.pokemonshowdown.com/sprites/ani/${name}.gif`} />
      )
    })
  }
</section>