---
export interface Props {
  id: string
  title: string
  img: string
}

const {id, title, img} = Astro.props
---
<a class="hover:scale-105 bg-zinc-200 inline-block text-center transition-all hover:contrast-125 hover:shadow-2xl rounded-lg w-full h-full" href={`/${id}`}>
  <img class="object-cover max-w-full" src={img} alt={id}>
  <h2 class="font-black">{title}</h2>
</a>