---
interface Props {
	title: string;
	language: string;
}

const { title, language } = Astro.props;
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Pokédex made with Astro and TailwindCSS. Uses PokeAPI to fetch data and the github repository of sprites for the images." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="twitter:card" content="summary_large_large" />
		<meta name="twitter:site" content="@visama396" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Fascinate&family=Uncial+Antiqua&display=swap');
	:root {
		--normal: #A8A77A;
		--fire: #EE8130;
		--water: #6390F0;
		--electric: #F7D02C;
		--grass: #7AC74C;
		--ice: #96D9D6;
		--fighting: #C22E28;
		--poison: #A33EA1;
		--ground: #E2BF65;
		--flying: #A98FF3;
		--psychic: #F95587;
		--bug: #A6B91A;
		--rock: #B6A136;
		--ghost: #735797;
		--dragon: #6F35FC;
		--dark: #705746;
		--steel: #B7B7CE;
		--fairy: #D685AD;
		--light-normal: #737373;
		--light-fire: #D52100;
		--light-water: #0080FF;
		--light-electric: #C90;
		--light-grass: #4b9c2b;
		--light-ice: #0AF;
		--light-fighting: #8f3121;
		--light-poison: #743367;
		--light-ground: #a1801a;
		--light-flying: #556DFF;
		--light-psychic: #bb0c52;
		--light-bug: #707e0b;
		--light-rock: #968337;
		--light-ghost: #5454B3;
		--light-dragon: #4E38E9;
		--light-dark: #573E31;
		--light-steel: #8E8EA4;
		--light-fairy: #f108f1;
	}

	html {
		font-family: 'Poppins', sans-serif;
		background: #111;
		scroll-behavior: smooth;
	}

	.scrollbar-minimal::-webkit-scrollbar {
		width: 6px;
	}

	.scrollbar-minimal::-webkit-scrollbar-track {
		background: transparent;
	}

	.scrollbar-mininmal::-webkit-scrollbar-thumb {
		background: rgba(255,255,255,0.25);
		border-radius: 9999px;
	}

	.scrollbar-minimal::-webkit-scrollbar-thumb:hover {
		background: rgba(255,255,255,0.35);
	}

	.scrollbar-minimal {
		scrollbar-width: thin;
		scrollbar-color: rgba(255,255,255,0.35) transparent;
	}

	.pill {
		display: inline-block;
		padding: .2rem .5rem;
		background-color: var(--normal);
		border-radius: 8px;
		color: white;
	}

	.pill.fire {
		background-color: var(--fire);
	}

	.pill.water {
		background-color: var(--water);
	}

	.pill.electric {
		background-color: var(--electric);
	}

	.pill.grass {
		background-color: var(--grass);
	}

	.pill.ice {
		background-color: var(--ice);
	}

	.pill.fighting {
		background-color: var(--fighting);
	}

	.pill.poison {
		background-color: var(--poison);
	}

	.pill.ground {
		background-color: var(--ground);
	}

	.pill.flying {
		background-color: var(--flying);
	}

	.pill.psychic {
		background-color: var(--psychic);
	}

	.pill.bug {
		background-color: var(--bug);
	}

	.pill.rock {
		background-color: var(--rock);
	}

	.pill.ghost {
		background-color: var(--ghost);
	}

	.pill.dragon {
		background-color: var(--dragon);
	}

	.pill.dark {
		background-color: var(--dark);
	}

	.pill.steel {
		background-color: var(--steel);
	}

	.pill.fairy {
		background-color: var(--fairy);
	}

	.pill.off {
		background-color: grey;
	}

	.additional-info {
		color: grey;
		font-size: .9rem;
	}

	.male {
		color: #3273DC;
	}

	.female {
		color: #FF6BCE;
	}

	.pokedata-grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			"Sprite"
			"Data"
			"Training"
			"Breeding"
	}

	@media (min-width: 768px)
	{
		.pokedata-grid {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: max-content_1fr max-content_1fr;
			grid-template-areas:
				"Sprite Data"
				"Training Breeding"
		}
	}

	@media (min-width: 1280px)
	{
		.pokedata-grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"Sprite Data Training"
				"Sprite Data Breeding"
		}
	}

	.sprite {
		grid-area: Sprite;
	}

	.data {
		grid-area: Data;
	}

	.training {
		grid-area: Training;
	}

	.breeding {
		grid-area: Breeding;
	}
</style>
